<!doctype html>
<html lang="zh">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>组织架构图</title>
	<script src="__MODULE__/jquery-2.1.1.min.js" type="text/javascript"></script>
<!-- 	<link type="text/css" rel="stylesheet" href="/Public/OA/css/jsmind.css" />
<style type="text/css">
		#jsmind_container{
			/*width:800px;*/
			height:750px;
			border:solid 1px #ccc;
			/*background:#f4f4f4;*/
			background:#f4f4f4;
		}
	</style>
	<script type="text/javascript" src="/Public/OA/js/jsmind.js"></script>
    <script type="text/javascript" src="/Public/OA/js/jsmind.draggable.js"></script>
 -->
</head>
<body>

<div id="jsmind_container"></div>
<script type="text/javascript">
	
	// var _jm = null;
	// function load_jsmind(){

	// 	$.get("/OA/OrganizSetting/getJsonTrees",function(data){

	// 		if(data){
	// 			console.log(data);
	// 			$.each(data,function(i,v){
	// 				if(v.id== 160){
	// 					v.isroot=true;
	// 				}
	// 				v.expanded = false;

	// 			});
	// 			var mind = {
	// 				meta:{
	// 					name:'createImg',
	// 					author:'hizzgdev@163.com',
	// 					version:'0.2'
	// 				},
	// 				format:'node_array',
	// 				data:data
	// 			};
	// 			//console.log(mind);
	// 			var options = {
	// 				container:'jsmind_container',
	// 				editable:false,
	// 				theme:'special',
	// 				shortcut:{
	// 					handles:{
	// 						test:function(j,e){
	// 							console.log(j);
	// 						}
	// 					},
	// 					mapping:{
	// 						test:89
	// 					}
	// 				},
	// 				"expanded":false
	// 			};
	// 			_jm = jsMind.show(options,mind);
	// 		}
	// 	});

	// }
	// $(function(){
	// 	load_jsmind();
	// })
</script>
</body>
</html>