<!doctype html>
<html lang="zh">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>组织架构图</title>
	<script src="__MODULE__/jquery-2.1.1.min.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="/Public/OA/css/organ.css?v={:getVersion()}">
</head>
<body>
<div class="bg-img" >
	<div class="d-f mg0sl-titl">重庆话语科技有限公司{$year}年组织架构图</div>
	<div class="d-f mg-tosit-a">
		<a href="javascript:void(0);" title="董事会" class="dons-link " data-id="166">董事会</a>
	</div>
	<div class="d-f mg-tops-b">
		<a href="javascript:void(0);" title="董事长兼CEO" class="dons-link-s" style="cursor:default;">
			<p class="d-f mtis-a">董事长兼CEO</p>
			<p class="d-f mtis-b">(邓欣)</p>
		</a>
	</div>
	<div class="d-f mg23">
		<a href="javascript:void(0);" title="总裁办" data-id="167" class="dons-link-a linitem">
			<p class="d-f mtis-a">总裁办</p>
			<p class="d-f mtis-b">(罗红梅)</p>
		</a>
	</div>
	<div class="d-f mgtop68">
		<a href="javascript:void(0);" title="业务中心" class="dons-link-b linitem" data-id="168">
			<p class="d-f mtis-a">业务中心</p>
			<p class="d-f mtis-b">(邓欣)</p>
		</a>
		<a href="javascript:void(0);" title="副总裁" class="dons-link-c cdft">
			<p class="d-f mtis-a">副总裁</p>
			<p class="d-f mtis-b">(罗红梅)</p>
		</a>
	</div>
	<div class="d-f mgtop76">
		<a href="javascript:void(0);" class="erj-teim linitem" data-id="171" data-type="1" style="width:136px;margin-left:6px;" title="优效ssp&adx项目部"> 
			<p class="d-f mtis-a font12" style="margin-top:14px;">优效ssp&adx项目部</p>
			<p class="d-f mtis-b font12">(汪本富)</p>

		</a>
		<a href="javascript:void(0);" class="erj-teim linitem"  data-id="175" data-type="1"  style="width:93px;" title="事业发展部"> 
			<p class="d-f mtis-a font12" style="margin-top:14px;">事业发展部</p>
			<p class="d-f mtis-b font12">(邓荧)</p>
		</a>
		<a href="javascript:void(0);" class="erj-teim linitem" data-id="173" data-type="1"  style="width:136px;" title="优效分发&发行项目部"> 
			<p class="d-f mtis-a font12" style="margin-top:14px;">优效分发&发行项目部</p>
			<p class="d-f mtis-b font12">(邓欣)</p>
		</a>
		<a href="javascript:void(0);" class="erj-teim linitem"  data-id="174" data-type="1" style="width:105px;" title="优效商家项目部"> 
			<p class="d-f mtis-a font12" style="margin-top:14px;">优效商家项目部</p>
			<p class="d-f mtis-b font12">(刘津成)</p>
		</a>
		<a href="javascript:void(0);" class="erj-teim linitem" data-id="172" data-type="1" style="width:105px;" title="优效营销项目部"> 
			<p class="d-f mtis-a font12" style="margin-top:14px;">优效营销项目部</p>
			<p class="d-f mtis-b font12">(熊杰)</p>
		</a>
		<a href="javascript:void(0);" class="erj-teim linitem"  data-id="178" data-type="1" style="width:75px;" title="IT研发部"> 
			<p class="d-f mtis-a font12" style="margin-top:14px;">IT研发部</p>
			<p class="d-f mtis-b font12">(秦亮)</p>
		</a>
		<a href="javascript:void(0);" class="erj-teim linitem" data-id="177" data-type="1" style="width:90px;" title="业务运营部">
			<p class="d-f mtis-a font12" style="margin-top:14px;">业务运营部</p>
			<p class="d-f mtis-b font12">(黄中涛)</p>
		 </a>
		<a href="javascript:void(0);" class="erj-teim linitem"  data-id="184" data-type="1" style="width:84px;" title="人力行政部">
			<p class="d-f mtis-a font12" style="margin-top:14px;">人力行政部</p>
			<p class="d-f mtis-b font12">(徐强)</p>
		 </a>
		<a href="javascript:void(0);" class="erj-teim linitem"  data-id="186" data-type="1" style="width:84px;" title="品牌公关部">
			<p class="d-f mtis-a font12" style="margin-top:14px;">品牌公关部</p>
			<p class="d-f mtis-b font12">(张维莉)</p>
		 </a>
		<a href="javascript:void(0);" class="erj-teim linitem"  data-id="182"  data-type="1"style="width:84px;" title="财务">
			<p class="d-f mtis-a font12" style="margin-top:14px;">财务部</p>
			<p class="d-f mtis-b font12">(刘银华)</p>
		 </a>
		<a href="javascript:void(0);" class="erj-teim linitem"  data-id="183" data-type="1" style="width:68px;" title="风控">
			<p class="d-f mtis-a font12" style="margin-top:14px;">风控部</p>
			<p class="d-f mtis-b font12">(姚望)</p>
		 </a>
	</div>
	<div class="d-f " style="margin-top:77px;">
		<a href="javascript:void(0);" class="erj-teim  linitem" data-id="206" style="width:108px;margin-left:203px;" title="优效分发项目组">
			<p class="d-f mtis-a font12" style="margin-top:14px;">优效分发项目组</p>
			<p class="d-f mtis-b font12">(邓欣兼)</p>
		 </a>
		<a href="javascript:void(0);" class="erj-teim linitem" data-id="207"  style="width:111px;" title="优效发行项目组"> 
			<p class="d-f mtis-a font12" style="margin-top:14px;">优效发行项目组</p>
			<p class="d-f mtis-b font12">(邓欣兼)</p>
		</a>
		<a href="javascript:void(0);" class="erj-teim linitem" data-id="179"    style="width:110px;margin-left:112px;" title="运维组">

			<p class="d-f mtis-a font12" style="margin-top:14px;">运维组</p>
			<p class="d-f mtis-b font12">(高进波)</p>

		 </a>
		<a href="javascript:void(0);" class="erj-teim linitem" data-id="180"  style="width:105px;" title="研发组">

			<p class="d-f mtis-a font12" style="margin-top:14px;">研发组</p>
			<p class="d-f mtis-b font12">(谢强)</p>
		 </a>
	</div>
</div>
<script type="text/javascript">

	var img={
		init:function(){
			this.initImg();
			this.initLink();
		},
		initImg:function(){
			// var wd=$(window),width_=wd.width(),height_=wd.height();
			// $(".bg-img").css({"width":width_+"px","height":height_+"px","background-size":width_+"px "+height_+"px"});
		},
		initLink:function(){
			$(".linitem").on("click",function(){
				var id=$(this).attr("data-id");
				var type=$(this).attr("data-type");
				if(type==undefined){
					type=0;
				}
				var url="/OA/Index/main.html?mainurl=/OA/OrganizSetting/departDetail?id="+id+"?_typeid="+type;
				window.parent.open(url);
			});
		}
	};
	$(function(){img.init();});

</script>
</body>
</html>