<extend name="Public/base"/>
<block name="style">
</block>
<block name="sidebar"></block>
<block name="subnav"></block>
<block name="body">
<div class="crumbsNavCn fl w">
        <a class="crumbsNav fl h">修改登录密码</a>
        <a class="crumbsNav fl h" style="background: none; color: rgb(187, 187, 187);"></a>
    </div>
	<form action="/Home/User/submitPassword" method="post" id="userForm">
	<!-- <div class="dataFormTitle">修改密码</div> -->
	<div class="dataFormContent" style="margin-top:30px;">
		<table class="dataFormTable" style="width:50%;margin:0px auto;">
			<tr>
				<th>原密码：</th>
				<td><input type="password" name="old"/></td>
				</tr>
				<th>新密码：</th>
				<td><input type="password" name="password"/></td>
				</tr>
				<tr>
				<th>重复新密码：</th>
				<td><input type="password" name="repassword"/></td>
			</tr>
		</table>
	</div>

	<div class="dataFormOperate">
		<input type="submit" class="J_updatePwd" value="保存" />
		<!-- <a href="javascript:history.back(-1);">返回</a> -->
	</div>
	</form>
</block>
<block name="script">
	<script type="text/javascript">
		jQuery(function ($) {
			$("#userForm").submit(function(){
				var form = $(this);
				$.post(form.attr('action'),form.serialize(),function(ret) {
					if (ret == 'ok') {
						layer.msg("密码修改成功");
					} else {
						layer.msg(ret);
					}
				});
				return false;
			});
		});
	</script>
</block>