<extend name="Public/base"/>
<block name="subnav">
</block>
<block name="script">
    <script type="text/javascript">
        $(function() {
            $("#doExport").click(function(){
                var param = $("#rc").serialize();
                var url = "{:U('export_detail')}";
                window.location.href=url+'?'+param;
            });
        });

    </script>
</block>

<block name="body">
<div class="subMainBox">
    <div class="tabCa pa">
        <div class="tab_contentWrapper pa">
            <!--核检概览-->
            <div class="tab_content pa " style="display: block;">
                <!--筛选-->
                <!--<div class="screenCn fl w ha">
                    <div class="screenOperate fl w">
                        <input id="doExport" type="button" value="下载报表" class="" />
                        <input type="button" value="高级筛选" class="J_openScreen" />

                        <div class="dataTableShow fr" goal="dataTable1">
                            <div class="dataTableShow_icon fr"></div>
                            <div class="dataTable_columnCa pa">
                                <div class="dataTable_columnCn"></div>
                                <div class="dataTableShow_close tc">关闭</div>
                            </div>
                        </div>
                    </div>
                    <div class="screenList fl w">
                        <form action="/RiskOverdue/detail" method="get" id="rc">
                            <input type='hidden' name='mon' value="{$mon}"/>
                            <table>
                                <tr>
                                <th>业务线：</th>
                                <td>
                                    <select name='lineid[]' class="selectpicker" multiple data-actions-box="true" data-done-button="true" data-live-search="true">
                                        <option value="0">全部</option>
                                        <volist name="linelist" id='v'>
                                            <option <php>if(in_array($v['id'],I('get.lineid')))echo "selected='selected'";</php> value="{$v.id}">{$v.name}</option>
                                        </volist>
                                    </select>
                                </td>
                                <th>产品名称：</th>
                                <td>
                                    <select name='comid[]' class="selectpicker" multiple data-actions-box="true" data-done-button="true" data-live-search="true">
                                        <option value="0">全部</option>
                                        <volist name="comlist" id='v'>
                                            <option <php>if(in_array($v['id'],I('get.comid')))echo "selected='selected'";</php> value="{$v.id}">{$v.name}</option>
                                        </volist>
                                    </select>
                                </td>
                                <th >广告主：</th>
                                <td >
                                    <select name='adverid[]' class="selectpicker" multiple data-actions-box="true" data-done-button="true" data-live-search="true">
                                        <option value="0">全部</option>
                                        <volist name="adverlist" id='v'>
                                            <option <php>if(in_array($v['id'],I('get.adverid')))echo "selected='selected'";</php> value="{$v.id}">{$v.name}</option>
                                        </volist>
                                    </select>
                                </td>
                                <th>供应商：</th>
                                <td>
                                    <select name='superid[]' class="selectpicker" multiple data-actions-box="true" data-done-button="true" data-live-search="true">
                                        <option value="0">全部</option>
                                        <volist name="superlist" id='v'>
                                            <option <php>if(in_array($v['id'],I('get.superid')))echo "selected='selected'";</php> value="{$v.id}">{$v.name}</option>
                                        </volist>
                                    </select>
                                </td>
                                </tr>
                                <tr>
                                    <th class="expertScreen">销售人员：</th>
                                    <td class="expertScreen">
                                        <select name='salerid[]' class="selectpicker" multiple data-actions-box="true" data-done-button="true" data-live-search="true">
                                            <option value="0">全部</option>
                                            <volist name="userlist" id='v'>
                                                <option <php>if(in_array($v['id'],I('get.salerid')))echo "selected='selected'";</php> value="{$v.id}">{$v.real_name}</option>
                                            </volist>
                                        </select>
                                    </td>
                                    <th class="expertScreen">商务人员：</th>
                                    <td class="expertScreen">
                                        <select name='supid[]' class="selectpicker" multiple data-actions-box="true" data-done-button="true" data-live-search="true">
                                            <option value="0">全部</option>
                                            <volist name="userlist" id='v'>
                                                <option <php>if(in_array($v['id'],I('get.supid')))echo "selected='selected'";</php> value="{$v.id}">{$v.real_name}</option>
                                            </volist>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="8">
                                        <input type="submit" value="查询" />
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>-->

                <div class="screenBox swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <form action="/RiskOverdue/detail" method="get" id="rc">
                                <!--基础查询-->
                                <h2>基础查询</h2>

                                <div class="swiperRight">
                                    <table class="tableBox">
                                        <tr>
                                            <th>业务线：</th>
                                            <td>
                                                <select name='lineid[]' class="selectpicker" multiple data-actions-box="true" data-done-button="true" data-live-search="true">
                                                    <option value="0">全部</option>
                                                    <volist name="linelist" id='v'>
                                                        <option <php>if(in_array($v['id'],I('get.lineid')))echo "selected='selected'";</php> value="{$v.id}">{$v.name}</option>
                                                    </volist>
                                                </select>
                                            </td>
                                            <th>产品名称：</th>
                                            <td>
                                                <select name='comid[]' class="selectpicker" multiple data-actions-box="true" data-done-button="true" data-live-search="true">
                                                    <option value="0">全部</option>
                                                    <volist name="comlist" id='v'>
                                                        <option <php>if(in_array($v['id'],I('get.comid')))echo "selected='selected'";</php> value="{$v.id}">{$v.name}</option>
                                                    </volist>
                                                </select>
                                            </td>
                                            <th >广告主：</th>
                                            <td >
                                                <select name='adverid[]' class="selectpicker" multiple data-actions-box="true" data-done-button="true" data-live-search="true">
                                                    <option value="0">全部</option>
                                                    <volist name="adverlist" id='v'>
                                                        <option <php>if(in_array($v['id'],I('get.adverid')))echo "selected='selected'";</php> value="{$v.id}">{$v.name}</option>
                                                    </volist>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="submit" value="查询" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>供应商：</th>
                                            <td>
                                                <select name='superid[]' class="selectpicker" multiple data-actions-box="true" data-done-button="true" data-live-search="true">
                                                    <option value="0">全部</option>
                                                    <volist name="superlist" id='v'>
                                                        <option <php>if(in_array($v['id'],I('get.superid')))echo "selected='selected'";</php> value="{$v.id}">{$v.name}</option>
                                                    </volist>
                                                </select>
                                            </td>
                                            <th>销售人员：</th>
                                            <td>
                                                <select name='salerid[]' class="selectpicker" multiple data-actions-box="true" data-done-button="true" data-live-search="true">
                                                    <option value="0">全部</option>
                                                    <volist name="userlist" id='v'>
                                                        <option <php>if(in_array($v['id'],I('get.salerid')))echo "selected='selected'";</php> value="{$v.id}">{$v.real_name}</option>
                                                    </volist>
                                                </select>
                                            </td>
                                            <th>商务人员：</th>
                                            <td>
                                                <select name='supid[]' class="selectpicker" multiple data-actions-box="true" data-done-button="true" data-live-search="true">
                                                    <option value="0">全部</option>
                                                    <volist name="userlist" id='v'>
                                                        <option <php>if(in_array($v['id'],I('get.supid')))echo "selected='selected'";</php> value="{$v.id}">{$v.real_name}</option>
                                                    </volist>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </form>
                            <!--end 基础查询-->
                        </div>
                    </div>
                </div>
                <!--数据表-->
                <div class="dataCn fl w ha">
                    <div class="advancedTit">
                        <div class="advancedLeft">
                            <span class="export advBtn" id="doExport">下载报表<!--<input id="doExport" type="button" value="下载报表" class="" />--></span>
                        </div>
                    </div>
                    <table class="dataTable dataTable1" id="alldatatable">
                        <thead>
                        <tr>
                            <th>年月</th>
                            <th>年月(详细)</th>
                            <th>广告主</th>
                            <th>供应商</th>
                            <th>业务线</th>
                            <th>产品</th>
                            <th>结算主体</th>
                            <th>销售</th>
                            <th>结算周期</th>
                            <th>逾期未确认收入</th>
                            <th>逾期未回款收入</th>
                            <th>逾期未确认成本</th>
                            <th>逾期未支付成本</th>
                            <th>逾期未确认成本原因</th>
                            <th>逾期未确认收入原因</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>汇总</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                             {$sumS.newmoney|number_format=###,2}
                            </td>
                            <td>{$sumS.whk_money|number_format=###,2}</td>
                            <td>
                            {$sumS.out_money|number_format=###,2}
                            </td>
                            <td>{$sumS.out_whk_money|number_format=###,2}</td>
                            <td></td>
                        </tr>
                        <volist name="list" id="item">
                        <tr>
                            <td>{$item.adddate}</td>
                            <td>{$item.yq_date_detail}</td>
                            <td>{$item.adv_name}</td>
                            <td>{$item.sup_name}</td>
                            <td>{$item.bl_name}</td>
                            <td>{$item.pro_name}</td>
                            <td>{$item.dic_name}</td>
                            <td>{$item.sale_name}</td>
                            <td>{$op_settlement_cycle[$item['settle_cycle']]}</td>
                            <td>
                             <?php if($role_type==3){ ?> 
                           <a href="javascript:void(0);" onclick="Y.inputshoury({$item['in_id']})" id="yq_{$item['in_id']}" data-qy="{$item['reason_yq_in']}" title="填写收入逾期原因">{$item.newmoney|number_format=###,2}</a>
                            <?php }else{  ?>
                                {$item.newmoney|number_format=###,2}
                            <?php } ?></td>
                            <td>{$item.whk_money|number_format=###,2}</td>
                            <td>  <?php if($role_type==3){ ?> 
                            <a href="javascript:void(0);" onclick="Y.inputY({$item['out_id']})" id="yq_{$item['out_id']}" data-qy="{$item['reason_yq']}" title="填写成本逾期原因">{$item.out_money|number_format=###,2}</a>
                            <?php }else{  ?>
                                {$item.out_money|number_format=###,2}
                            <?php } ?></td>
                            <td>{$item.out_whk_money|number_format=###,2}</td>
                            <td title="{$item['reason_yq']}"> <?php if($item['reason_yq']){ ?> {$item['reason_yq']} <?php }else{ ?> -- <?php } ?></td>
                            <td title="{$item['reason_yq_in']}"> <?php if($item['reason_yq_in']){ ?> {$item['reason_yq_in']} <?php }else{ ?> -- <?php } ?></td>
                       
                        </tr>
                        </volist>
                        </tbody>
                    </table>
                    <!--分页-->
                    {$_page}
                </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript" src="__PUBLIC__/static/layer/layer.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/module/bootstrapselect/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/module/bootstrapselect/css/bootstrap-select.css"/>
    <script type="text/javascript" src="__PUBLIC__/Home/module/bootstrapselect/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/module/bootstrapselect/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/module/bootstrapselect/bootstrap-select.js"></script>
    <script type="text/javascript">
    var Y={
        inputY:function(out_id){
            var msg = $("#yq_"+out_id).attr("data-qy");
            layer.prompt({title: '填写逾期未确认成本原因', formType: 2,value:msg}, function(text, index){

                var param={};
                param.reason_yq = text;
                param.out_id = out_id;
                $.post("/Home/RiskOverdue/fillinReason",param,function(data){
                    layer.close(index);
                    layer.msg('添加成功');
                    window.location.reload();
                });
            });
        },
        inputshoury:function(in_id){
            var msg = $("#yq_"+in_id).attr("data-qy");
            layer.prompt({title: '填写逾期未确认收入原因', formType: 2,value:msg}, function(text, index){

                var param={};
                param.reason_yq = text;
                param.out_id = in_id;
                $.post("/Home/RiskOverdue/fillinShouruReason",param,function(data){
                    layer.close(index);
                    layer.msg('添加成功');
                    window.location.reload();
                });
            });
        }
    };
    </script>
</block>