<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit|ie-stand" />

    <title>{:getSiteTitle($webTitle)}</title>

    <link href="__CSS__/base.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/common.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/page.css" rel="stylesheet" type="text/css" />
    <!--jquery-->
    <script src="__MODULE__/jquery-2.1.1.min.js" type="text/javascript"></script>
    <!--jquery UI-->
    <link rel="stylesheet" href="__MODULE__/jquery-ui-1.9.2.custom/css/smoothness/jquery-ui-1.9.2.custom.min.css" />
    <link rel="stylesheet" href="__CSS__/jqueryUI_reset.css" />
    <link rel="stylesheet" href="__CSS__/reset.css" />
    <link rel="stylesheet" type="text/css" href="__MODULE__/bootstrapselect/css/bootstrap.min.css"/>
    <script type="text/javascript" src="__MODULE__/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.min.js" ></script>
    <script type="text/javascript" src="__MODULE__/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="__MODULE__/highcharts/exporting.js"></script>
    <script src="__MODULE__/jquery.form.js" type="text/javascript"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/module/bootstrapselect/bootstrap-select.js"></script>
    <script src="__JS__/common.js" type="text/javascript"></script>
    <script src="__JS__/common_xieqiang.js" type="text/javascript"></script>
    <script type="text/javascript" src="__STATIC__/my97datepicker/WdatePicker.js"></script>
    <script type="text/javascript" src="__MODULE__/bootstrapselect/bootstrap.min.js"></script>
    <link href="__STATIC__/magicsuggest/magicsuggest-min.css" rel="stylesheet">
    <script src="__STATIC__/magicsuggest/magicsuggest-min.js"></script>

    <link rel="stylesheet" href="__new_boss__/css/models.css?v={:getVersion()}">

</head>
<body>
    <block name="body"></block>
    <block name="script"></block>
</body>
</html>