<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit|ie-stand" />
    <title>智能办公平台 </title>
    <link href="__CSS__/base.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/common.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/page.css" rel="stylesheet" type="text/css" />
    <!--jquery-->
    <script type="text/javascript" src="__PUBLIC__/newUI/js/jquery-1.11.1.min.js"></script>
    <!--jquery UI-->
    <link rel="stylesheet" href="__MODULE__/jquery-ui-1.9.2.custom/css/smoothness/jquery-ui-1.9.2.custom.min.css" />
    <link rel="stylesheet" href="__CSS__/jqueryUI_reset.css" />
    <link rel="stylesheet" href="__CSS__/reset.css" />
    <link rel="stylesheet" type="text/css" href="__MODULE__/bootstrapselect/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="__MODULE__/bootstrapselect/css/bootstrap-select.css"/>
    <script type="text/javascript" src="__MODULE__/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.min.js" ></script>
    <script src="__MODULE__/jquery.form.js" type="text/javascript"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/module/bootstrapselect/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/module/bootstrapselect/bootstrap-select.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/newUI/css/modelsoa.css?v={:getVersion()}">
    <block name="style"></block>
</head>
<body>
<style type="text/css">
    .crumbs{
        border-bottom: 1px solid #ddd;
    }
</style>
<block name="body"></block>
<block name="script">
</block>
<script type="text/javascript" src="__PUBLIC__/static/layer/layer.js"></script>
<script type="text/javascript" src="__STATIC__/my97datepicker/WdatePicker.js"></script>
<div class="opennewpage"  style="display: none;"></div>
</body>
</body>
</html>