<html>
<body>
<form method='post' action="">
<table>
<tr><td>日期</td><td><input type='text' name='adddate'/></td></tr>
<tr><td>金额</td><td><input type='text' name='money'/></td></tr>
<tr><td>单价</td><td><input type='text' name='price'/></td></tr>
<tr><td>数据</td><td><input type='text' name='data'/></td></tr>
<tr><td>商务</td><td><input type='text' name='sw'/></td></tr>
<tr><td>供应商</td><td><input type='text' name='super'/></td></tr>
<tr><td>业务线</td><td><input type='text' name='line'/></td></tr>
<tr><td>计费标识</td><td><input type='text' name='jfname'/></td></tr>
<tr><td>结算主体</td><td><input type='text' name='jszt'/></td></tr>
<tr><td></td><td><input type='submit'/></td></tr>
</table>
</form>
</body>
</html>