<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>BOS系统</title>
		<link href="__PUBLIC__/Home/css/base.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/Home/css/common.css" rel="stylesheet" type="text/css" />
		<link href="__PUBLIC__/Home/css/page.css" rel="stylesheet" type="text/css" />
		<!--jquery-->
		<script src="__PUBLIC__/Home/module/jquery-2.1.1.min.js" type="text/javascript"></script>
		<!--ECharts-->
		<script src="__PUBLIC__/Home/module/ECharts/echarts-all.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/module/bootstrapselect/css/bootstrap.min.css"/>
	    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/module/bootstrapselect/css/bootstrap-select.css"/>
	    <script type="text/javascript" src="__PUBLIC__/Home/module/bootstrapselect/bootstrap.min.js"></script>
	    <script type="text/javascript" src="__PUBLIC__/Home/module/bootstrapselect/bootstrap-select.js"></script>
		<script src="__PUBLIC__/Home/js/common.js" type="text/javascript"></script>
		<script type="text/javascript">
			$(function() {
				//默认展开
				//setCookie('statisticsState_'+window.location.href,'true',30);
				//=============================统计图=============================
				 // 基于准备好的dom，初始化echarts图表
				$('.statisticsThumbnail').css('left',0);
				var myChart1 = echarts.init(document.getElementById('myChart1'));

				var histogram = {
				    title : {
				        text: '广告主收入流水TOP10（单位：万元）',
				    },
				    tooltip : {
				        trigger: 'axis'
				    },
				    legend: {
				    	orient : 'vertical',
				    	x : '80%',
				    	y : '25%',
				    	<php>
		            		foreach($res_adver as $k=>$v){
		            			$advnamearr[]=$v['month'].' '.$v['name'];
		            			$advmoneyarr[]=twonum($v['money']/10000);
		            			$tl[]=$v['name'].' '.twonum($v['money']/10000);
		            		}
		            	</php>
                        data: [
                        <php>
                        foreach($tl as $v){
                        	echo "{name:'".$v."',textStyle:{color:'#000000'}},";
                        }
                        
                        </php>
                       
		            	]
                    },
				    calculable : true,
				    grid : {
				    	width : '70%'
				    },
				    xAxis : [
				        {
				        	axisLabel : {
				        		'rotate' : 10,
				        		'textStyle' : {
				        			'fontWeight' : 'bold'
				        		}
				        	},
				            type : 'category',
				            data : ['<php>
				            		echo implode("','",$advnamearr);
				            	</php>']
				        }
				    ],
				    yAxis : [
				        {
				            type : 'value'
				        }
				    ],
				    color : ['#5ACD14'],
				    series : [
				        {
				            name:'收入金额',
				            type:'bar',
				            itemStyle:{ normal: {label : {show: true, position: 'top'}}},
				            data:[<php>echo implode(',',$advmoneyarr);</php>]
				        }
				    ]

				};
		        // 为echarts对象加载数据 
		        myChart1.setOption(histogram);
				var urljson=<php>echo json_encode($res_adver['url']);</php>;
				
				//页面跳转
				myChart1.on(
					'click',
					function(params) {
						<php>if(empty(I('get.month_s'))){
							echo "alert('您选择了全年的数据，由于产生的大量运算可能会整体拖慢服务器速度，建议您切换到单月再点击查看');";
						}else{</php>
							window.open(urljson[params.dataIndex]);
						<php>}</php>
						
					}
				);
			});
		</script>
	</head>
	<body>			
		<!--统计缩略图-->
		<div class="statisticsThumbnail" style="top: 0px; left: 0px!important;width:100%;">
			<form id='dataform' action="" method='get'>
			<div class="statisticsFiltrate fl tc w">
				<select name="year">
					<php>for($i=2016;$i<=date('Y');$i++){</php>
					<option value="{$i}">{$i}年</option>
					<php>}</php>
				</select>
				<select name="month_s">
					<option value='0'>全年</option>
					<php>
						for($i=1;$i<=12;$i++){
							$j=$i;
							if(strlen($j)==1)$j='0'.$j;
							echo "<option ";
							if($i==$_GET['month_s'])echo 'selected="selected"';
							echo " value='$j'>".$i."月</option>";
						}
					</php>
				</select>
				-
				<select name="month_e">
					<option value='0'>全年</option>
					<php>
						for($i=1;$i<=12;$i++){
							$j=$i;
							if(strlen($j)==1)$j='0'.$j;
							echo "<option ";
							if($i==$_GET['month_e'])echo 'selected="selected"';
							echo " value='$j'>".$i."月</option>";
						}
					</php>
				</select>
				<select name='type'>
					<option value='0'>全部</option>
					<option <eq name='_GET["type"]' value='1'>selected="selected"</eq> value='1'>TOP1</option>
					<option <eq name='_GET["type"]' value='2'>selected="selected"</eq> value='2'>TOP2</option>
					<option <eq name='_GET["type"]' value='3'>selected="selected"</eq> value='3'>TOP3</option>
					<option <eq name='_GET["type"]' value='4'>selected="selected"</eq> value='4'>TOP4</option>
					<option <eq name='_GET["type"]' value='5'>selected="selected"</eq> value='5'>TOP5</option>
				</select>
				<span style="width:200px;display:inline-block;">
				<select name='lineid[]' class="selectpicker" multiple data-done-button="true" data-live-search="true">
					<option value='0'>全公司</option>
					<foreach name='linelist' item='v' key='k'>
					<option <php>if(in_array($v['id'],I('get.lineid')))echo "selected='selected'";</php> value="{$v.id}">{$v.name}</option>
					</foreach>
				</select>
				</span>
				<span class="screenCn">
				<input type='submit'/>
				</span>
			</div>
			</form>
			<div id="myChart1" class="fl" style=" margin: 2%; width: 90%; height:80%;"></div>

		</div>
			
		

	
	</body>

</html>