<extend name="Public/base"/>
<block name="body">
    <div class="subMainBox">
        <style type="text/css">
            #sub{
                line-height: 30px;
                color: #4776e6;
                font-size: 14px;
                font-family: 'Microsoft YaHei';
                min-width: 75px;
                padding: 0 5px;
                cursor: pointer;
                border-radius: 15px;
                border: 1px solid #4776e6;
                display: inline-block;
                box-sizing: border-box;
                margin-right: 20px;;
            }
            #fan{
                line-height: 30px;
                color: #4776e6;
                font-size: 14px;
                font-family: 'Microsoft YaHei';
                min-width: 75px;
                padding: 0 5px;
                cursor: pointer;
                border-radius: 15px;
                border: 1px solid #4776e6;
                display: inline-block;
                box-sizing: border-box;
            }
            .xian{background: url("/Public/newUI/img/xian.png");height: 1px;margin-bottom: 15px;}
        </style>

        <div class="ri_header">
            <div class="ri_title_box">
                <span class="clip-text"><a href="/TargetCheck/index">风控目标管理</a></span>&nbsp;&nbsp;&nbsp;&nbsp;<a style="font-size: 20px;">-></a>
                <span><a href="/MainBody/index">控制主体管理</a></span>
            </div>

            <div class="dataTable_columnCa_b pa">
                <div class="dataTable_columnCn_b"></div>
                <div class="dataTableShow_close_b tc">关闭</div>
            </div>
        </div>
        <div class="xian"></div>

        <div class="dataFormTitle" style="background-color: #E6F1FF;color: #4776e6;">控制主体管理</div>
        <form id="dataform"  action="{:U('update')}" method="post" enctype="multipart/form-data">
            <div class="dataFormContent">
                <table class="dataFormTable">
                    <tr>
                        <th>控制主体名称：<span class="required">*</span></th>
                        <td>{$adInfo.name}</td>
                        <th>对接人：<span class="required">*</span></th>
                        <td>{$adInfo.real_name}</td>
                    </tr>
                    <tr>
                        <th>状态：<span class="required">*</span></th>
                        <td colspan="3">
                            {$adInfo.s}
                        </td>
                    </tr>
                    <tr>
                        <th>主体说明:</th>
                        <td colspan="3">{$adInfo.remark}</td>
                    </tr>
                </table>
            </div>
            <div class="dataFormOperate">
                <input type="hidden" name="id" value="{$adInfo.id}" />
                <!--<input id="sub" type="submit" value="保存" />-->
                <a href="{:U('index')}" id="fan">返回</a>
            </div>
        </form>
    </div>
</block>