<extend name="Public/base"/>
<block name="body">
<include file="Public/commonoa" />
<style type="text/css">
    .btnBox input.close[type="button"]{float:none !important}.close{opacity:1!important;font-size:14px!important;font-weight:normal!important;margin-left: 10px !important;}.listTable tr th,.listTable tr td{border:1px solid #eee;color:#333;height:40px;line-height:40px;overflow:hidden;text-align:center;text-overflow:ellipsis;white-space:nowrap;padding:0px 5px !important;}.listTable tr th{color: #fff;}.b-name{width:300px!important;height:32px!important;line-height:32px!important;padding:0 5px!important}.com-btn{background:#1a72d6 none repeat scroll 0 0!important;border:medium none!important;border-radius:3px!important;color:#fff!important;cursor:pointer!important;margin-left:10px!important;height:32px!important;line-height:32px !important;padding:0 5px !important}.color1a72d6{color: #1a72d6 !important; }.ui-dialog-buttons{z-index: 2000 !important;}.Wdate{width:185px !important;padding: 0 2px !important;}.edit-b{ border: 1px solid #dadada;
    border-radius: 3px;
    height: 30px;
    margin-left: 20px;
    width: 50px;line-height: 30px;}
    .edit-b:hover{
        background: #1269CC;color: #fff;
    }.btnBox input[type="button"]{ margin: 0px !important;float: left !important;margin-left: 145px !important;}.btnBox input.close[type="button"]{margin-left: 10px  !important;float: left !important;}

</style>
<div class="subConten  fl w" style="padding:5px !important;">
<script type="text/javascript" src="/Public/Home/js/ajaxupload.js"></script>
    <!--内容-->
    <div class="subCon fl w" style="margin-top:0px;">
    <div class="screenCn fl w ha" style="margin-top:0px;">
        <div class="screenOperate fl w">
            <a class="Js_addOffice addPro" href="/HrManage/entry.html">入职</a>
            <a class="Js_addOffice quit_btn" href="javascript:;">离职</a>
            <a class="Js_addOffice turn_company" href="javascript:;">转公司</a>
            <a class="Js_addOffice" href="/HrManage/exportIncumbent?type=on" target="_blank">导出在职人员表</a>
            <a class="Js_addOffice"  href="/HrManage/exportIncumbent?type=out" target="_blank">导出离职人员表</a>
            <a class="Js_addOffice" href="/HrManage/exportCurrentMonthSalaryData" target="_blank">导出当月工资表</a>
            <a class="Js_addOffice  importPro" href="javascript:;"  id="importPro">导入当月特殊工资</a>
             <a class="Js_addOffice" href="/Public/excel/每月特殊工资模板.xls" target="_blank">下载当月特殊工资excel模板</a>
        </div>
        <form method="post" action="/HrManage/hrList.html">
        <table class="queryTable fl w" style="margin:10px 0 10px 0px;">
        <tbody>
        <tr>
        <td>
            <span class="fleft">姓名：</span>
            <span class="fleft"><input name="user_name" value="{$map['user_name']}" type="text"  class="b-name"></span>
            <span class="fleft">入职时间：</span>
            <span class="fleft">
                <input  name="entry_time_sdate"  onclick="WdatePicker({ dateFmt:'yyyy-MM-dd'})" class="Wdate" value="{$map['entry_time_sdate']}" type="text">
                到
                <input  name="entry_time_edate"  onclick="WdatePicker({ dateFmt:'yyyy-MM-dd'})" class="Wdate" value="{$map['entry_time_edate']}" type="text">
            </span>
            <span class="fleft"><input name="" value="查询" class="com-btn" type="submit"></span>
        </td>
        </tr>
        </tbody>
        </table>
        </form>
    </div>
        <!--ned 功能区-->
        <!--制度列表-->
        <div class="workListBox">
            <table class="listTable Js_tableCon">
                <thead>
                    <tr>
                        <th><input class="_checkall" id="_checkall" name="" type="checkbox">序号</th>
                        <th>归属公司</th>
                        <th>参保时间</th>
                        <th>部门</th>
                        <th>姓名</th>
                        <th>职务</th>
                        <th>岗位层级</th>
                        <th>性别</th>
                        <th>身份证号码</th>
                        <th>入职时间</th>
                        <th>银行卡号</th>
                        <th>银行卡开户行</th>
                        <th>入职薪资</th>
                        <th>转正薪资</th>
                        <th>状态</th>
                        <th>详情</th>
                    </tr>
                </thead>
                <tbody>
                <notempty name="list">
                    <volist name="list" id="vo">
                        <tr>
                            <td>
                            <input class="ids ckitem" name="" type="checkbox"  id="ck_{$vo['id']}" value="{$vo['id']}">&nbsp;
                            {$vo["id"]}
                            </td>
                            <td title="{$op_companyList[$vo['company_id']]}"><span>{$op_companyList[$vo['company_id']]}</span></td>
                            <td title="{$vo["start_insure"]|strtotime|date="Y.m.d",###}"><span>{$vo["start_insure"]|strtotime|date="Y.m.d",###}</span></td>
                            <td title="{$vo["depart_name"]}"><span>{$vo["depart_name"]}</span></td>
                            <td title="{$vo["user_name"]}"><span>{$vo["user_name"]}</span></td>
                            <td title="{$vo["duty"]}"><span>{$vo["duty"]}</span></td>
                            <td title="{$vo['post_level']}"><span>{$vo['post_level']}</span></td>
                            <td title="<?php if($vo['sex']==1){ echo "女";}else{ echo "男";} ?>"><span><?php if($vo['sex']==1){ echo "女";}else{ echo "男";} ?></span></td>
                            <td title="{$vo["body_no"]}"><span>{$vo["body_no"]}</span></td>
                            <td title="{$vo["entry_time"]|strtotime|date="Y.m.d",###}"><span>{$vo["entry_time"]|strtotime|date="Y.m.d",###}</span></td>
                            <td title="{$vo["bank_cardno1"]}"><span>{$vo["bank_cardno1"]}</span></td>
                            <td title="{$vo["bank_card1"]}"><span>{$vo["bank_card1"]}</span></td>
                            <td title="{$vo["entry_salary"]}"><span>{$vo["entry_salary"]}</span></td>
                            <td title="{$vo["turn_salary"]}"><span>{$vo["turn_salary"]}</span></td>
                            <td title="{$userAttr[$vo["status"]]}"><span>{$userAttr[$vo["status"]]}</span></td>
                            <td><a href="/HrManage/entry.html?editeId={$vo["id"]}" class="edit-b">查看</a></td>
                        </tr>
                    </volist>
                    <else />
                    <tr>
                        <td colspan="15"><div class="no-datas">暂无数据！！</div></td>
                    </tr> 
                </notempty>

                </tbody>
            </table>
            <notempty name="list">
                <div class="no-datas">{$page}</div>
            </notempty>
        </div>
        <!--end 制度列表-->
    </div>
    <!--end 内容-->
</div>
<!--end 主体-->
<!--遮罩层-->
<div class="mask"></div>
<!--end 遮罩层-->
<!--转公司弹出层-->
<div class="popupPublic companyBox Js_company">
    <h2>转公司</h2>
    <div class="companyCon">
        <ul class="companyList">
            <li>
                <label>新公司</label>
                <select name="companyid" id="companyid">
                    <option>加载中...</option>
                </select>
            </li>
            <li>
                <label>新部门</label>
                <select name="depart_id" id="depart_id">
                    <option>加载中...</option>
                </select>
            </li>
            <li>
                <label>是否重置司龄</label>
                <select name="is_reset_cage" id="is_reset_cage">
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
            </li>
        </ul>
    </div>
    <!--按钮-->
    <div class="btnBox">
        <input class="submit" name="" type="button" value="提交" onclick="Hr.turnCompany(this)"><input class="close" name="" type="button" value="取消">
    </div>
    <!--end 按钮-->
</div>
<!--end 转公司弹出层-->
<!--离职弹出层-->
<div class="popupPublic companyBox Js_Quit">
    <h2>离职</h2>
    <div class="companyCon">
        <ul class="companyList">
            <li>
                <label>离职日期</label>
                <span class="dayTime"><input type="text"    onclick="WdatePicker({ dateFmt:'yyyy-MM-dd'})" id="departure_time" name="departure_time" ><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
            </li>
            <li>
                <label>社保停办日</label>
                <span class="dayTime"><input type="text"    onclick="WdatePicker({ dateFmt:'yyyy-MM-dd'})" id="social_close_time" name="social_close_time" ><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
            </li>
            <li>
                <label>公积金停办日</label>
                <span class="dayTime"><input type="text"    onclick="WdatePicker({ dateFmt:'yyyy-MM-dd'})" id="prident_close_time" name="prident_close_time"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
            </li>
        </ul>
    </div>
    <!--按钮-->
    <div class="btnBox">
        <input class="submit" name="" onclick="Hr.quitEnent(this)" type="button" value="办理"><input class="close" name="" type="button" value="取消">
    </div>
    <!--end 按钮-->
</div>
<!--end 离职弹出层-->
<script type="text/javascript" src="/Public/OA/js/globle.js"></script>
<!--双日期插件-->
<script type="text/javascript" src="/Public/OA/js/daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="/Public/OA/js/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript">
    var Hr={
        init:function(){
            this.initEvent();this.initTime();this._checkAll();this.lazyCompany();this.lazyDepart();
        },
        turnCompany:function(obj){
            var params={};
            params.companyid     =$("#companyid").val();
            params.depart_id  =$("#depart_id").val();
            params.is_reset_cage =$("#is_reset_cage").val();
            params.ids=Hr.getAllChecked();
            if(!params.ids){
                alertnewpage2("请选择需要办理离职的员工");
                return false;
            }else{
                $(obj).val("提交中...");
                $(obj).attr("onclick","");
                $.post("/HrManage/turnNewCompany.html",params,function(data){
                    alertnewpage2(data.msg);
                    $(".ui-widget-overlay").hide();
                    $(obj).val("提交");
                    $(obj).attr("onclick","S.addSetting(this)");
                });
            }
            $(".ui-widget-overlay").remove();
        },
        lazyCompany:function(){
            setTimeout(function(){
            $.get("/OrganizSetting/getCompnanys.html",function(data){
                var ht='';
                $.each(data,function(i,o){
                    ht+='<option value="'+o.id+'">'+o.name+'</option>';
                });
                $("#companyid").html(ht);
                });
            },1000);
        },
        lazyDepart:function(){
                setTimeout(function(){
                    $.get("/OrganizSetting/getAllList.html",function(data){
                        var ht='';
                        $.each(data,function(i,o){
                            ht+='<option value="'+o.id+'">'+o.name+'</option>';
                        });
                        $("#depart_id").html(ht);
                    });
                },1000);
            },
        _checkAll:function(){
            $("#_checkall").on("click",function(){
                var f=this.checked;
                $(".ckitem").prop("checked",f);
            });
        },
        getAllChecked:function(){
            var ids = "";
            $(".ckitem").each(function(){
                if(this.checked){
                    ids+=$(this).val()+",";
                }
            });
            if(ids){
                ids = ids.substr(0,ids.length-1);
            }
            return ids;
        },
        quitEnent:function(obj){
            var params={};
            params.departure_time     =$("#departure_time").val();
            params.social_close_time  =$("#social_close_time").val();
            params.prident_close_time =$("#prident_close_time").val();
            params.ids=Hr.getAllChecked();
            if(Hr.checkquitEnent(params)){
                $(obj).val("办理中...");
                $(obj).attr("onclick","");
                $.post("/HrManage/resignationDo",params,function(data){
                    alertnewpage2(data.msg);
                    $(".ui-widget-overlay").hide();
                    $(obj).val("办理");
                    $(obj).attr("onclick","S.addSetting(this)");
                });
            }
            $(".ui-widget-overlay").remove();
        },
        checkquitEnent:function(params){
            if(!params.departure_time){
                alertnewpage2("请选择离职日期");
                $("#departure_time").focus();
                return false;
            }
            if(!params.social_close_time){
                alertnewpage2("请选择社保停办日");
                $("#social_close_time").focus();
                return false;
            }
            if(!params.prident_close_time){
                alertnewpage2("请选择公积金停办日");
                $("#prident_close_time").focus();
                return false;
            }
            if(!params.ids){
                alertnewpage2("请选择需要办理离职的员工");
                return false;
            }
            return true;
        },
        initEvent:function(){
            var Popupe = new PopupBase();
            Popupe.show('.turn_company', '.mask,.Js_company');
            Popupe.show('.quit_btn', '.mask,.Js_Quit');
            Popupe.hide('.close','.mask,.Js_company,.Js_Quit');
        },
        initTime:function(){
            // $('#departure_time').daterangepicker({
            // singleDatePicker: true,
            //     locale: {
            //         direction: "ltr",
            //         format: "YYYY-MM-DD", 
            //         customRangeLabel: "自定义",
            //         daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
            //         monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
            //         firstDay: 1
            //     },
            //     startDate: "2017.04.28",
            //     opens: "right"
            // });
            // $('#social_close_time').daterangepicker({
            //     singleDatePicker: true,
            //     locale: {
            //         direction: "ltr",
            //         format: "YYYY-MM-DD", //控件中from和to 显示的日期格式
            //         customRangeLabel: "自定义",
            //         daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
            //         monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
            //         firstDay: 1
            //     },
            //     startDate: "2017.04.28",
            //     opens: "right"
            // });
            // $('#prident_close_time').daterangepicker({
            //     singleDatePicker: true,
            //     locale: {
            //         direction: "ltr",
            //         format: "YYYY-MM-DD", //控件中from和to 显示的日期格式
            //         customRangeLabel: "自定义",
            //         daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
            //         monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
            //         firstDay: 1
            //     },
            //     startDate: "2017.04.28",
            //     opens: "right"
            // });
        }

    };
    $(function(){Hr.init();});
</script>
<script type="text/javascript">var pType="entry";</script>
<script type="text/javascript" src="/Public/Home/js/fun.js"></script>
</block>
