<table class="dialogTable_form2 w ha">
    <tr>
        <th>OA账号：</th>
        <td>{$data.username}</td>
        <th>真实姓名：</th>
        <td>{$data.real_name}</td>
        <th>工号：</th>
        <td>{$data.employee_number|default='auto'}</td>
    </tr>
    <tr>
        <th>所属部门：</th>
        <td>{$dept[$data['dept_id']]}</td>
        <th>职位：</th>
        <td>{$op_position[$data['position_id']]}</td>
        <th>角色：</th>
        <td>{$op_groups[$usergroup]}</td>
    </tr>
    <tr>
        <th>性别：</th>
        <td>{$op_user_gender[$data['gender']]}</td>
        <th>在职状态：</th>
        <td>{$op_user_status[$data['status']]}</td>
        <th>联系电话：</th>
        <td>{$data.mobile}</td>
    </tr>
    <tr>
        <th>QQ：</th>
        <td>{$data.qq}</td>
        <th>邮箱：</th>
        <td>{$data.email}</td>
        <th>微信：</th>
        <td>{$data.wechat}</td>
    </tr>
    <tr>
        <th>学历：</th>
        <td>{$data.education}</td>
        <th>学位：</th>
        <td>{$data.degree}</td>
        <th>专业：</th>
        <td>{$data.major}</td>
    </tr>
    <tr>
        <th>民族：</th>
        <td>{$data.ethnic_group}</td>
        <th>籍贯：</th>
        <td>{$data.address}</td>
        <th>婚姻状况：</th>
        <td>{$data.ismarried}</td>
    </tr>
</table>