<extend name="Public/basehtml"/>
<block name="body">
<link rel="stylesheet" type="text/css" href="/Public/Home/css/intsys.css?v={:getVersion()}">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/module/bootstrapselect/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/module/bootstrapselect/css/bootstrap-select.css"/>
<script type="text/javascript" src="__PUBLIC__/Home/module/bootstrapselect/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/module/bootstrapselect/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/module/bootstrapselect/bootstrap-select.js"></script>
<link rel="stylesheet" type="text/css" href="/Public/Home/css/intsys.css?v={:getVersion()}">

  <div class="d-f main-cont" style="width:95%;padding-top:10px;" style="">
  <div class="d-f mis-sks mgps-xks" style="margin-top:0px;">
        <span class="mis-lea"  style="width:90px;">标题：</span>
        <span class="mis-rb t-tile">
            <input type="text" id="zrw_title" name="zrw_title" class="tks-ps" value="{$zrw_one['head_title']}" {$is_readonly}>
        </span>
    </div>
  <div class="d-f mis-sks mgps-xks">
            <span class="mis-lea" style="width:90px;">子任务负责人：</span>
            <span class="wd150" >
                <select class="fzr-selcks-s11" id="qb_fzr" data-actions-box="true" data-done-button="true" data-live-search="true" {$is_readonly}>
                    <option value="">加载中...</option>
                </select>
                <script type="text/javascript">
                var dvalue={};
                dvalue.qb_fzr = "{$zrw_one["pri_uid"]}";
                </script>
            </span>
            <span class="mis-lea " style="margin-left:130px;">计划完成：</span>
            <span class="mis-rb t-tile qb-right">
                <input {$is_readonly}  type="text" class="tks-ps js-time" id="qb_jhwcsj" onclick="WdatePicker({ dateFmt:'yyyy-MM-dd'})" value="{$zrw_one['exp_end_time']}" />
            </span>
        </div>
  		<div class="d-f mis-sks mgps-xks">
            <span class="mis-lea" style="width:90px;text-align:right;">已有标签：</span>
            <span class=" wd150">
                <select  {$is_readonly} class="fzr-selcks-s11" onchange="qb.setRwXuQiu()"  data-actions-box="true" data-done-button="true" data-live-search="true" id="qb_xqzd" >
                    <option>加载中...</option>
                </select>
            </span>
            <if condition="$is_query eq 2">
            <input type="button" value="添加标签" class="tx-zi" onclick="qb.addZd(1)" style="margin-left:10px;float:left;" />
            <span style="float:left;height:30px;line-height:30px;margin-left:10px;color:red;"> 提示：请优先选择已有标签！</span>
            </if>

        </div>
        <form id="zd_form">
            <div class="xuq-se  d-f " id="qb_xq_zd" style="padding-bottom: 15px;display:block;">
                <div class="" style="height:40px;line-height:40px;text-align:center;">加载中....</div>
            </div>
        </form>
         <div class="d-f qb-tia-zkd bor-tp1" style="text-align:center;padding:20px 0px;margin-top:0px;">
             <if condition="$is_query eq 2">
              <input type="button" id="jx_bcbtn" value="确认保存子任务" onclick="qb.saveTaskGoOn()" />
              <else />
              <font style="color:red;">*当前子任务只能查看！</font>
             </if>
             <input type="hidden" value="{$parent_task_id}" id="hd_task_id" />
             <input type="hidden" value="{$zrw_id}" id="hd_zrw_id" />
             <input type="hidden" value="{$fdata}" id="fields_data_count">
             <input type="hidden" value="{$is_query}" id="is_query">
        </div>
        <!--  <div class="d-f mg-sls">
             <input type="button" value="添加合作跟进" class="tx-zi" onclick="qb.addFlow()"  />
        </div> -->
  </div>
<script type="text/javascript" src="/Public/static/layer/layer.js"></script>
<script type="text/javascript" src="/Public/Home/js/qb.addzrw.js?v={:getVersion()}"></script>
</block>