<extend name="Public/base"/>
<block name="body">
    <div class="subMainBox">
        <style type="text/css">
            #sub{
                line-height: 30px;
                color: #4776e6;
                font-size: 14px;
                font-family: 'Microsoft YaHei';
                min-width: 75px;
                padding: 0 5px;
                cursor: pointer;
                border-radius: 15px;
                border: 1px solid #4776e6;
                display: inline-block;
                box-sizing: border-box;
                margin-right: 20px;;
            }
            #fan{
                line-height: 30px;
                color: #4776e6;
                font-size: 14px;
                font-family: 'Microsoft YaHei';
                min-width: 75px;
                padding: 0 5px;
                cursor: pointer;
                border-radius: 15px;
                border: 1px solid #4776e6;
                display: inline-block;
                box-sizing: border-box;
            }
            .xian{background: url("/Public/newUI/img/xian.png");height: 1px;margin-bottom: 15px;}
            .ritem{word-break:break-all;}
            .dataFormTable tr td{white-space: normal!important;}
        </style>

        <div class="ri_header">
            <div class="ri_title_box">
                <span class="clip-text"><a href="/TargetCheck/index">风控目标管理</a></span>&nbsp;&nbsp;&nbsp;&nbsp;<a style="font-size: 20px;">-></a>
                <span><a href="/GoalManage/index">控制目标步骤管理</a></span>
            </div>

            <div class="dataTable_columnCa_b pa">
                <div class="dataTable_columnCn_b"></div>
                <div class="dataTableShow_close_b tc">关闭</div>
            </div>
        </div>
        <div class="xian"></div>

        <div class="dataFormTitle" style="background-color: #E6F1FF;color: #4776e6;">控制目标步骤管理查看</div>
        <form id="dataform"  action="{:U('update')}" method="post" enctype="multipart/form-data">
            <div class="dataFormContent">
                <table class="dataFormTable">
                    <tr>
                        <th>控制目标：<span class="required">*</span></th>
                        <td>{$adInfo.name}</td>
                        <td>已上传文件：<a href="/{$adInfo['annex_path']}" target="_blank">{$adInfo['annex']}</a></td>
                    </tr>
                    <tr>
                        <th>状态：<span class="required">*</span></th>
                        <td colspan="2">
                                <php>if($adInfo['status'] == 1){</php>
                                正常
                                <php>}elseif($adInfo['status'] == 0){</php>
                                暂停
                                <php>}</php>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>备注说明：</th>
                        <td colspan="2">{$adInfo.remark}</td>
                    </tr>
                    <assign name="j" value="1" />
                    <volist name="stepData" id="v">
                        <tr>
                            <th>步骤{$v.sid}：<span class="required">*</span></th>
                            <td class="ritem">
                                {$v.name}
                            </td>
                            <td>
                                <php>if($v['annex_path']){</php>
                                <span class='ysc'>已上传文件：<a href='{$v.annex_path}' target=\"_blank\" class='a_ysc' id=\"a_ysc_"+idx+"\">{$v.annex}</a></span>
                                <php>}</php>
                            </td>
                        </tr>
                        <assign name="j" value="$j+1" />
                    </volist>
                </table>
            </div>
            <div class="dataFormOperate">
                <input type="hidden" name="id" value="{$adInfo.id}" />
                <a href="{:U('index')}" id="fan">返回</a>
            </div>
        </form>
    </div>

</block>