<extend name="Public/base"/>
<block name="body">
<div class="subMainBox">
    <div class="ri_header">
        <div class="ri_title_box">
            <span class="clip-text">逾期监控</span>
            <span>风控中心</span>
        </div>
        <div class="ri_work">Overdue monitoring</div>
    </div>

    <!--筛选-->
    <!--<div class="screenCn fl w ha">
        <div class="screenOperate fl w">
            <input id="doExport" type="button" value="下载报表" class="" />
            <div class="dataTableShow fr" goal="dataTable1">
                <div class="dataTableShow_icon fr"></div>
                <div class="dataTable_columnCa pa">
                    <div class="dataTable_columnCn"></div>
                    <div class="dataTableShow_close tc">关闭</div>
                </div>
            </div>
            <div class="line fr h"></div>
            <div class="statisticsThumbnail_icon J_statisticsThumbnail fr"  ></div>
        </div>
        <div class="screenList fl w">
            <form action="{:U('index')}" id="search_form">
                <table>
                    <tr>
                        <th>期间：</th>
                        <td>
                            <input style="width: 43%;" name="sdate" readonly="readonly" type="text" onClick="WdatePicker({ dateFmt:'yyyy-MM'})" class="Wdate" value="<empty name='Think.get.sdate'>{:date('Y-m')}<else/>{$_GET['sdate']}</empty>"/>
                            到
                            <input style="width: 44%;" name="edate" readonly="readonly" type="text" onClick="WdatePicker({ dateFmt:'yyyy-MM'})" class="Wdate" value="<empty name='Think.get.edate'>{:date('Y-m')}<else/>{$_GET['edate']}</empty>"/>
                        </td>
                        <th>广告主：</th>
                        <td>
                            <div id="multi-sel-ad">&#45;&#45;</div>
                        </td>
                        <th>产品名称：</th>
                        <td>
                            <div id="multi-sel-pro">&#45;&#45;</div>
                        </td>
                        <th>计费标识：</th>
                        <td>
                            <div id="multi-sel-cl">&#45;&#45;</div>
                        </td>
                    </tr>
                    <tr>
                        <th>业务线：</th>
                        <td>
                            <div id="multi-sel-bl">&#45;&#45;</div>
                        </td>
                        <th>结算周期：</th>
                        <td><bselect name="settle_cycle" options="op_settlement_cycle" selected="_GET['settle_cycle']" first="请选择"/></td>
                        <th></th>
                        <td></td>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <input id="search_btn" type="submit" value="查询" />
                            <input type="hidden" name="p" value="1"/>
                            <input type="hidden" name="search" value="1"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>-->

    <div class="screenBox swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <form action="{:U('index')}" id="search_form">
                    <input type="hidden" name="search" value="1"/>
                    <!--基础查询-->
                    <h2>基础查询</h2>

                    <div class="swiperRight">
                        <table class="tableBox">
                            <tr>
                                <th>期间：</th>
                                <td style="width: 240px;">
                                    <input style="width: 43%;" name="sdate" readonly="readonly" type="text" onClick="WdatePicker({ dateFmt:'yyyy-MM'})" class="Wdate" value="<empty name='Think.get.sdate'>{:date('Y-m')}<else/>{$_GET['sdate']}</empty>"/>
                                    到
                                    <input style="width: 44%;" name="edate" readonly="readonly" type="text" onClick="WdatePicker({ dateFmt:'yyyy-MM'})" class="Wdate" value="<empty name='Think.get.edate'>{:date('Y-m')}<else/>{$_GET['edate']}</empty>"/>
                                </td>
                                <th>广告主：</th>
                                <td>
                                    <div id="multi-sel-ad">--</div>
                                </td>
                                <th>产品名称：</th>
                                <td>
                                    <div id="multi-sel-pro">--</div>
                                </td>
                                <td>
                                    <input type="submit" value="查询" />
                                </td>
                            </tr>
                            <tr>
                                <th>计费标识：</th>
                                <td>
                                    <div id="multi-sel-cl">--</div>
                                </td>
                                <th>业务线：</th>
                                <td>
                                    <div id="multi-sel-bl">--</div>
                                </td>
                                <th>结算周期：</th>
                                <td><bselect name="settle_cycle" options="op_settlement_cycle" selected="_GET['settle_cycle']" first="请选择"/></td>
                            </tr>
                        </table>
                    </div>
                </form>
                <!--end 基础查询-->
            </div>
        </div>
    </div>
    <!--数据表-->
    <div class="dataCn fl w ha" id="table_con">
        <div class="advancedTit" goal="dataTable1">

            <div class="dataTable_columnCa pa">
                <div class="dataTable_columnCn"></div>
                <div class="dataTableShow_close tc">关闭</div>
            </div>

            <div class="advancedLeft">
                <span class="export advBtn"><input type="button" id="doExport" value="下载报表"></span>
            </div>
            <div class="advancedRight">
                <div class="advIcon statisticsThumbnail_icon J_statisticsThumbnail fr">可视化报表</div>
                <div class="dataTableShow fr" goal="dataTable1">
                    <div class="advIcon dataTableShow_icon fr del">字段筛选</div>
                    <!--<div class="dataTable_columnCa pa">
                        <div class="dataTable_columnCn"></div>
                        <div class="dataTableShow_close tc">关闭</div>
                    </div>-->
                </div>
            </div>
        </div>
        <table class="dataTable dataTable1">
            <thead>
            <tr>
                <th>年月</th>
                <th>广告主</th>
                <th>供应商</th>
                <th>业务线</th>
                <th>产品</th>
                <th>结算主体</th>
                <th>销售</th>
                <th>结算周期</th>
                <th <php>echo getorderclass('notconf_money');</php>><a href="<php>echo getorderurl('notconf_money');</php>">逾期未确认</a></th>
                <th <php>echo getorderclass('notrec_money');</php>><a href="<php>echo getorderurl('notrec_money');</php>">逾期未回款</a></th>
                <th>逾期未确认成本</th>
                <th>逾期未回款成本</th>
                <th>明细</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>汇总</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{$itemTotal['notconf_money']|number_format=###,2}</td>
                <td>{$itemTotal['notrec_money']|number_format=###,2}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <volist name="list" id="item">
                <tr>
                    <td>{$item.adddate|substr=0,-3}</td>
                    <td>{$item.ad_name}</td>
                    <td></td>
                    <td>{$item.bl_name}</td>
                    <td>{$item.pro_name}</td>
                    <td>{$item.sb_name}</td>
                    <td>{$item.saler_name}</td>
                    <td>{$op_settlement_cycle[$item['settle_cycle']]}</td>
                    <td>{$item.notconf_money|number_format=###,2}</td>
                    <td>{$item.notrec_money|number_format=###,2}</td>
                    <td></td>
                    <td></td>
                    <td><a href="{:U('detail?pro_id='.$item['comid'].'&date='.$assDate)}">明细</a></td>
                </tr>
            </volist>
            </tbody>
        </table>
        <!--分页-->
        {$_page}
    </div>
</div>

    <!--统计缩略图-->
    <div class="statisticsThumbnail">
        <img src="__IMG__/statisticsThumbnail_close.png" class="statisticsThumbnail_close" />

        <div id="myChart1" class="fl" style=" margin: 2%; width: 29%; height: 40%; "></div>
        <div id="myChart2" class="fl" style=" margin: 2%; width: 29%; height: 40%; "></div>
        <div id="myChart3" class="fl" style=" margin: 2%; width: 29%; height: 40%; "></div>

        <div id="myChart4" class="fl" style=" margin: 2%; width: 29%; height: 40%; "></div>
        <div id="myChart5" class="fl" style=" margin: 2%; width: 29%; height: 40%; "></div>
        <div id="myChart6" class="fl" style=" margin: 2%; width: 29%; height: 40%; "></div>
    </div>

</block>
<block name="style">
    <style>
        .ms-ctn{width: 90%; padding: 2px; padding-left: 12px; box-shadow: none; border-color: #c5c5c5;}
        .ms-ctn .ms-trigger .ms-trigger-ico{margin-top: 13px;}
        .ms-sel-ctn input[type="text"]{border: none;}
    </style>
</block>
<block name="script">
    <script src="__MODULE__/ECharts/echarts-all.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {

            var adMs = $('#multi-sel-ad').magicSuggest({
                queryParam: 'q',
                data: "{:U('Ajax/mutiQuery')}",
                typeDelay: 5,
                dataUrlParams: { type: 'ad' },
            });
            var proMs = $('#multi-sel-pro').magicSuggest({
                queryParam: 'q',
                data: "{:U('Ajax/mutiQuery')}",
                typeDelay: 5,
                dataUrlParams: { type: 'pro' },
            });
            var clMs = $('#multi-sel-cl').magicSuggest({
                queryParam: 'q',
                data: "{:U('Ajax/mutiQuery')}",
                typeDelay: 5,
                dataUrlParams: { type: 'cl' },
            });
            var blMs = $('#multi-sel-bl').magicSuggest({
                queryParam: 'q',
                data: "{:U('Ajax/mutiQuery')}",
                typeDelay: 5,
                dataUrlParams: { type: 'bl' },
            });
            //初始化
            adMs.setSelection({$adNames});
            proMs.setSelection({$proNames});
            clMs.setSelection({$clNames});
            blMs.setSelection({$blNames});

            $("#search_btn").click(function() {
                var form = $("#search_form");

                var adval = adMs.getValue();
                var proval = proMs.getValue();
                var clval = clMs.getValue();
                var scval = $("[name='settle_cycle']").val();
                var blval = blMs.getValue();

                var goUrl = form.attr('action')+"?adid="+adval+"&proid="+proval+"&clid="+clval+'&sc='+scval+
                        "&bl="+blval+
                        "&"+form.serialize();
                window.location.href = goUrl;
                return false;
            });


            $("#doExport").click(function(){
                var param = $("#search_form").serialize();
                var url = "{:U('export')}";
                window.location.href=url+'?'+param;
            });

            //=============================统计图=============================
            // 基于准备好的dom，初始化echarts图表
            var myChart1 = echarts.init(document.getElementById('myChart1'));
            var myChart2 = echarts.init(document.getElementById('myChart2'));
            var myChart3 = echarts.init(document.getElementById('myChart3'));
            //柱状图
            var histogram = {
                backgroundColor: 'rgba(255,255,255,0.9)',
                title : {
                    text: '逾期',
                    x: 'center',
                    textStyle: {
                        fontSize: 16,
                        color: '#1a72d6'
                    },
                    padding: 15,
                },
                tooltip : {
                    trigger: 'axis'
                },
                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        data : []

                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series : [
                    {
                        name:'金额',
                        type:'bar',
                        data: []
                    }
                ]
            };

            var charts = [1,2,3];
            for(var i in charts) {
                var item = charts[i];
                $.get("{:U('chartView')}",{item:item},function(ret){
                    var idx = ret.item;
                    var data = ret.data;
                    var fields = ret.fields;
                    switch (idx) {
                        case 1:
                            histogram.title.text = '广告主top10逾期金额';
                            var xdata=[],ydata=[];
                            for(var i in data) {
                                var item = data[i];
                                xdata.push(item.name);
                                ydata.push(item.value);
                            }
                            histogram.xAxis[0].data=  xdata;
                            histogram.series[0].data = ydata;
                            myChart1.setOption(histogram);
                            break;
                        case 2:
                            histogram.title.text = '销售逾期金额';
                            var xdata=[],ydata=[];
                            for(var i in data) {
                                var item = data[i];
                                xdata.push(item.name);
                                ydata.push(item.value);
                            }
                            histogram.xAxis[0].data=  xdata;
                            histogram.series[0].data = ydata;
                            myChart2.setOption(histogram);
                            break;
                        case 3:
                            histogram.title.text = '每月逾期金额';
                            var xdata=[],ydata=[];
                            for(var i in data) {
                                var item = data[i];
                                xdata.push(item.name);
                                ydata.push(item.value);
                            }
                            histogram.xAxis[0].data=  xdata;
                            histogram.series[0].data = ydata;
                            myChart3.setOption(histogram);
                            break;
                    }


                });

            }

        });

    </script>
</block>