<extend name="Public/base"/>


<block name="script">
	<script type="text/javascript" src="__JS__/bootbox.min.js"></script>
	<script type="text/javascript">
	function makeliuchen(){
		//发起流程
		if($('input[name="isall"]').is(":checked")){
			$.get("/OA/Bostooa/setToOaApi"+location.search,{},function(){

			});
		}else{
			var str="";
			$('input[type="checkbox"]').each(function(){
				if($(this).is(":checked"))str+=$(this).val()+',';
			})
			$.get("/OA/Bostooa/setToOaApi?allid="+str.substring(0,str.length-1)+"&userid=744&zuserid=744&juserid=744",{},function(res){
				alert(res.msg);
			},'json');
		}
		
	}
	</script>
</block>
<block name="body">
	<div class="subMainBox">
		<div class="ri_header">
			<div class="ri_title_box">
				<span class="clip-text">成本支付</span>
				<span>结算单管理</span>
			</div>
			<div class="ri_work">Cost to pay</div>
		</div>
				<!--筛选-->
				<!--<div class="screenCn fl w ha">
					<div class="screenOperate fl w">
						&lt;!&ndash;<input type="button" value="同步采购发票信息" class="J_PbillData" />&ndash;&gt;
						<a href="javascript:makeliuchen()" target="_blank">发起付款流程</a>
						<div class="dataTableShow fr" goal="dataTable1">
							<div class="dataTableShow_icon fr"></div>
							<div class="dataTable_columnCa pa">
								<div class="dataTable_columnCn"></div>
								<div class="dataTableShow_close tc">关闭</div>
							</div>
						</div>
					</div>
					    <form action="/Makesettlement/makeliuchen" method='get'>
					<div class="screenList fl w">
						<table>
							<tr>
								<th>供应商名称：</th>
								<td><input type="text" name='ggzname' value="{:I('get.ggzname')}"/></td>
								<th>产品名称：</th>
								<td><input type="text" name='comname' value="{:I('get.comname')}"/></td>
								<th>所属商务：</th>
								<td><input type="text" name='jfname' value="{:I('get.jfname')}"/></td>
								<th>时间：</th>
								<td><input readonly="true" style="width:45%!important;" class="Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text" name="strtime" value="{:I('get.strtime')}"/>至<input readonly="true" style="width:45%!important;" class="Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text" name="endtime" value="{:I('get.endtime')}"/></td>
							</tr>
							<tr>
								<th>结算单状态：</th>
								<td>
									<select name="status">
										<option value="0">全部</option>
									  	<option value="1">待审核</option>
									  	<option value="2">已审核</option>
									  	<option value="6">已作废</option>
									</select>
								</td>
								<th>结算单编号：</th>
								<td><input type="text" name="id"></td>
								<th>生成时间：</th>
								<td><input readonly="true" style="width:45%!important;" class="Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text" name="addstrtime" value="{:I('get.addstrtime')}"/>至<input readonly="true" style="width:45%!important;" class="Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text" name="addendtime" value="{:I('get.addendtime')}"/></td>
							</tr>
							<tr>
								<td colspan="8">
									<input type="submit" value="查询" />
									<input type="button" value="取消" class="J_closeScreen" />
									<input type="checkbox" name="isall" value="1"/>选择所有符合条件的结算单
								</td>
							</tr>
						</table>
					</div>
					</form>
				</div>-->

				<!--<div class="screenBox swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<form action="/Makesettlement/makeliuchen" method='get'>
								&lt;!&ndash;基础查询&ndash;&gt;
								<div class="swiperLeft">
									<p class="swiperTit"><img src="__new_boss__/images/screen_jc.png" alt=""></p>
									<h2>基础查询</h2>
									&lt;!&ndash;<div class="searchBox">
										<input class="searchTxt" name="name" value="{$Think.get.name}" type="text" placeholder="广告主名称">
										<p class="closeSearch"></p>
									</div>&ndash;&gt;
								</div>
								<div class="swiperRight">
									<table class="tableBox">
										<tr>
											<th>供应商名称：</th>
											<td><input type="text" name='ggzname' value="{:I('get.ggzname')}"/></td>
											<th>产品名称：</th>
											<td><input type="text" name='comname' value="{:I('get.comname')}"/></td>
											<th>所属商务：</th>
											<td><input type="text" name='jfname' value="{:I('get.jfname')}"/></td>
											<th>时间：</th>
											<td><input readonly="true" style="width:45%!important;" class="Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text" name="strtime" value="{:I('get.strtime')}"/>至<input readonly="true" style="width:45%!important;" class="Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text" name="endtime" value="{:I('get.endtime')}"/></td>
										</tr>
										<tr>
											<th>结算单状态：</th>
											<td>
												<select name="status">
													<option value="0">全部</option>
													<option value="1">待审核</option>
													<option value="2">已审核</option>
													<option value="6">已作废</option>
												</select>
											</td>
											<th>结算单编号：</th>
											<td><input type="text" name="id"></td>
											<th>生成时间：</th>
											<td><input readonly="true" style="width:45%!important;" class="Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text" name="addstrtime" value="{:I('get.addstrtime')}"/>至<input readonly="true" style="width:45%!important;" class="Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text" name="addendtime" value="{:I('get.addendtime')}"/></td>
										</tr>
										<tr>
											<td colspan="8">
												<input type="submit" value="查询" />
												<input type="checkbox" name="isall" value="1"/>选择所有符合条件的结算单
											</td>
										</tr>
									</table>
								</div>
							</form>
							&lt;!&ndash;end 基础查询&ndash;&gt;
						</div>
					</div>
				</div>-->

		<div class="screenBox swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<form action="/Makesettlement/makeliuchen" method='get'>
						<!--基础查询-->
						<span class="screenClick a">点击高级查询</span>
						<h2>基础查询</h2>

						<div class="swiperRight">
							<table class="tableBox">
								<tr>
									<th>供应商名称：</th>
									<td><input type="text" name='ggzname' value="{:I('get.ggzname')}"/></td>
									<th>产品名称：</th>
									<td><input type="text" name='comname' value="{:I('get.comname')}"/></td>
									<th>所属商务：</th>
									<td><input type="text" name='jfname' value="{:I('get.jfname')}"/></td>
									<td>
										<input type="submit" value="查询" />
										<input type="checkbox" name="isall" value="1"/>选择所有符合条件的结算单
									</td>
								</tr>
								<tr>
									<th>时间：</th>
									<td><input readonly="true" style="width:45%!important;" class="Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text" name="strtime" value="{:I('get.strtime')}"/>至<input readonly="true" style="width:45%!important;" class="Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text" name="endtime" value="{:I('get.endtime')}"/></td>

								</tr>
							</table>
						</div>

					<!--end 基础查询-->
				</div>
				<div class="swiper-slide">
					<span class="screenClick b">点击基础查询</span>
						<!--高级查询-->
						<h2>高级查询</h2>

						<div class="swiperRight">
							<table class="tableBox">
								<tr>
									<th>结算单状态：</th>
									<td>
										<select name="status">
											<option value="0">全部</option>
											<option value="1">待审核</option>
											<option value="2">已审核</option>
											<option value="6">已作废</option>
										</select>
									</td>
									<th>结算单编号：</th>
									<td><input type="text" name="id"></td>
									<th>生成时间：</th>
									<td><input readonly="true" style="width:45%!important;" class="Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text" name="addstrtime" value="{:I('get.addstrtime')}"/>至<input readonly="true" style="width:45%!important;" class="Wdate" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text" name="addendtime" value="{:I('get.addendtime')}"/></td>
									<td colspan="2">
										<input type="submit" value="查询" />
										<input type="checkbox" name="isall" value="1"/>选择所有符合条件的结算单
									</td>
								</tr>
							</table>
						</div>
					</form>
					<!--end 高级查询-->
				</div>
			</div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
				<!--数据表-->
				<div class="dataCn fl w ha" id="table_con">
					<div class="advancedTit">
						<div class="advancedLeft">
							<span class="addAdv advBtn">
								<a href="javascript:makeliuchen()" target="_blank">发起付款流程</a>
							</span>
						</div>
					</div>
					<form action="subaudit" method='post' name='subauditdataform'>
					<table class="dataTable dataTable1">
						<thead>
						<tr>
							<th>选择</th>
							<th>结算单编号</th>
							<th>供应商名称</th>
							<th>产品名称</th>
							<th>账单期间</th>
							<th>结算金额（含税）</th>
							<th>税点</th>
							<th>不含税金额</th>
							<th>所属商务</th>
							<th>状态</th>
							<th>操作</th>
							<th>查看日报</th>
						</tr>
						</thead>
						<tbody>
						<volist name='getSum' id='val'>
							<tr>
								<td></td>
								<td>求和</td>
								<td></td>
								<td></td>
								<td></td>
								<td>{$val.settlementmoney}</td>
								<td></td>
								<td>{$val.notaxmoney}</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</volist>
						<volist name='data' id='v'>
							<tr>
								<td><input type="checkbox" name="allid[]" value="{$v.id}"/></td>
								<td>{$v.id}</td>
								<td>{$v.advname}</td>
								<td>{$v.comname}</td>
								<td>{$v.strdate}-{$v.enddate}</td>
								<td>{$v.settlementmoney|twonum}</td>
								<td>{$v.tax}</td>
								<td>{$v.notaxmoney|twonum}</td>
								<td>{$v.real_name}</td>
								<td>{:C('option.outsettlement_status')[$v['status']]}</td>
								<td>
									<a href="/Makesettlement/settlementOut?id={$v.id}">查看</a>&nbsp;
								</td>
								<td><a target="_blank" href="/Report/dayReport?strtime={$v.strdate}&endtime={$v.enddate}&outzt[]={$v.jsztid}&superid[]={$v.superid}<php>
									$jfarr=explode(',',$v['alljfid']);
									foreach($jfarr as $v_jf){
										echo '&jfid[]='.$v_jf;
									}
								</php>">查看</a></td>
					        </tr>
						</volist>
						</tbody>
					</table>
					</form>
					{$_page}
				</div>

			</div>
			<!--弹出框（通过） -->
	</div>
</block>


